<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appian.manchesterunitednews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <application
        android:name=".MainApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Light"
        tools:targetApi="n">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>
        <activity
            android:name=".app.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".app.match.MatchActivity"
            android:configChanges="orientation"
            android:parentActivityName=".app.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".app.team.TeamDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Light.NoActionBar" />

        <activity
            android:name=".app.player.PlayerDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Light.NoActionBar" />
        <activity
            android:name=".app.coach.CoachDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Light.NoActionBar" />
        <activity
            android:name=".app.detailnews.DetailArticleActivity"
            android:configChanges="orientation"
            android:parentActivityName=".app.MainActivity"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".app.user.LogInActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.user.SignupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.user.LogInNormalActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.comment.CommentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.setting.SettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.user.LogInSuccessActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.user.UpdateProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.match.videohighlight.VideoActivity"
            android:parentActivityName=".app.MainActivity"
            tools:targetApi="jelly_bean" />

        <service
            android:name=".service.firebase.AppFirebaseMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".network.NetworkService"
            android:exported="false" />
    </application>

</manifest>